@basecolor: #3c99f7;

.home {
  background: url("../image/icon/white-home.png") no-repeat;
  background-size: 100%;
}

.active .home {
  background: url("../image/icon/blue-home.png") no-repeat;
  background-size: 100%;
}

.classroom {
  background: url("../image/icon/white-class.png") no-repeat;
  background-size: 100%;
}

.active .classroom {
  background: url("../image/icon/blue-class.png") no-repeat;
  background-size: 100%;
}

.message {
  background: url("../image/icon/white-message.png") no-repeat;
  background-size: 100%;
}

.active .message {
  background: url("../image/icon/blue-message.png") no-repeat;
  background-size: 100%;
}

.jg {
  background: url("../image/icon/white-jg.png") no-repeat;
  background-size: 100%;
}

.active .jg {
  background: url("../image/icon/blue-jg.png") no-repeat;
  background-size: 100%;
}

.userimg {
  background: url("../image/icon/white-user.png") no-repeat;
  background-size: 100%;
}

.active .userimg {
  background: url("../image/icon/blue-user.png") no-repeat;
  background-size: 100%;
}

.school {
  background: url("../image/icon/white-school.png") no-repeat;
  background-size: 100%;
}

.active .school {
  background: url("../image/icon/blue-school.png") no-repeat;
  background-size: 100%;
}

.tag-arrow {
  width: 0.6rem;
  height: 1.1rem;
  background: url("../image/icon/arrow-right.png") no-repeat;
  background-size: 100%;
  margin: 0 0 0 1.05rem;
}

.active .navtitle {
  color: @basecolor;
}
/*数据样式-列表*/
.list-box ul,
.list-box ul li,
.table-box ul,
.table-box ul li {
  overflow: hidden;
}

.list-box ul li {
  padding: 0.85rem 0;

  &:last-child {
    border-bottom: none;
  }
}

.list-box .dataimg {
  width: 26%;
  height: 7rem;
  margin-right: 1.2rem;
}

.list-intro,
.list-title {
  padding: 0;
  margin-bottom: 1rem;
  line-height: 1.8rem;
}

.list-intro {
  color: #999999;
}

.homewapper .topinfo,
.morewapper .topinfo,
.usercollectwapper .topinfo {
  width: 68%;
}

.list-intro {
  overflow: hidden;
  line-height: 2.1rem;
}
