@basecolor: #3c99f7;

.homeicon-1 {
  background: url("../image/icon/homeicon-1.png") no-repeat;
  background-size: 100%;
}

.active .homeicon-1 {
  background: url("../image/icon/blue-homeicon-1.png") no-repeat;
  background-size: 100%;
}

.homeicon-2 {
  background: url("../image/icon/homeicon-2.png") no-repeat;
  background-size: 100%;
}

.active .homeicon-2 {
  background: url("../image/icon/blue-homeicon-2.png") no-repeat;
  background-size: 100%;
}

.homeicon-3 {
  background: url("../image/icon/homeicon-3.png") no-repeat;
  background-size: 100%;
}

.active .homeicon-3 {
  background: url("../image/icon/blue-homeicon-3.png") no-repeat;
  background-size: 100%;
}

.homeicon-4 {
  background: url("../image/icon/homeicon-4.png") no-repeat;
  background-size: 100%;
}

.active .homeicon-4 {
  background: url("../image/icon/blue-homeicon-4.png") no-repeat;
  background-size: 100%;
}

.homeicon-5 {
  background: url("../image/icon/homeicon-5.png") no-repeat;
  background-size: 100%;
}

.active .homeicon-5 {
  background: url("../image/icon/blue-homeicon-5.png") no-repeat;
  background-size: 100%;
}

.userimg {
  background: url("../image/icon/white-user.png") no-repeat;
  background-size: 100%;
}

.active .userimg {
  background: url("../image/icon/blue-user.png") no-repeat;
  background-size: 100%;
}

.tag-arrow {
  width: 0.6rem;
  height: 1.1rem;
  background: url("../image/icon/arrow-right.png") no-repeat;
  background-size: 100%;
  margin: 0 0 0 1.05rem;
}

.active .navtitle {
  color: #3c99f7;
}
/*数据样式-列表*/
.list-box ul,
.list-box ul li,
.table-box ul,
.table-box ul li {
  overflow: hidden;
}

.list-box ul li {
  padding: 0.85rem 0;
}

.list-box ul li:last-child {
  border-bottom: none;
}

.list-box .dataimg {
  width: 26%;
  height: 7rem;
  margin-right: 1.2rem;
}

.list-intro,
.list-title {
  padding: 0;
  margin-bottom: 1rem;
  line-height: 1.8rem;
}

.list-intro {
  color: #999999;
}

.homewapper .topinfo,
.morewapper .topinfo,
.usercollectwapper .topinfo {
  width: 68%;
}

.list-intro {
  overflow: hidden;
  line-height: 2.1rem;
}
/*评论弹出框*/
.comment-content {
  padding-bottom: 4.3rem;
}

textarea {
  margin: 1.8rem 0;
  width: 100%;
  height: 8.5rem;
}

.commentwapper {
  .title-box {
    height: 5rem;
    line-height: 5rem;
  }
}

.comment-bottom {
  overflow: hidden;
}

.addcommentimg {
  width: 8rem;
  height: 8rem;
}

.transition-5s {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.active .arrow {
  transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
}
